<h1>Build a Trip!</h1>
<form action="/trips" method="POST">
  <p>Where did you go? <input type="text" name="destination"></p> </ br>
  <p>What did you do? <input type="text" name="description"></p></ br>
  <p>When were you there? <input type="text" name="date"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>