<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/trips' method="post">
    Where did you go?
    <input type="text" name="destination"><br>
    What happened there?
    <input type="text" name="description"><br>

    <input type="submit" name="submit" id="submit">

    <input type="submit" name="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>