<p> Here are your trips, <%= @user.name %>
<% @user.trips.each do |trip| %>
  <div>
    <%= trip.destination %>
  </div>
<% end %>
<% if @user.is_admin? %>
  <p>Here are all the trips: </p>
  <% Trip.all.each do |trip| %>
    <div>
    <%= trip.destination %>
    </div>
  <% end %>