<h1>Login to Souvenear!</h1>
<p> If you don't have an account, please <a href="/signup">sign up</a>. </p>

<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">

  <input type="text" name="password" placeholder="Password:">

  <input type="submit" value="submit">
</form>