<h2> Edit Souvenir </h2>

<form method="post" action="/souvenirs/<%=@souvenir.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="souvenirname" value="<%= @souvenir.souvenirname %>">
  <!-- #Destination drop down -->
  <input type="submit" value="submit">
</form>