<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/souvenirs' method="post">
    Content:
    <input type="text" name="souvenirname"><br>
    What did you bring back?

    <input type="submit" name="submit" id="submit">

    <input type="submit" name="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to add Souvenirs </h1>
  <% end %>