<p><%= @souvenir.souvenir_name %>

<form method="post" action="/souvenir/<%=@souvenir.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Souvenir">
</form>

<a href="/tweets/<%=@souvenir.id%>/edit">Edit Souvenir</a>

<p>From <%= @souvenir.trip.destination %></p>
<p> <a href="/trips/view_trip/#{@souvenir.trip_id"> View trip </a></p>