<!doctype html>
<html>
  <head>
    <title>Souvenear</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Souvenear!</h1>
      <h2><a href="/account">Return to your account</a></h2>
      <%= yield %>
      
    </div>

  </body>
</html>